.wrapper {
    height: 75vh;
    background-color: white;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;


}

.images img {
    max-height: 100%;
    max-width: 100%;
    padding: 5%;
}