<div class="wrapper">
    <div class="images-parent">
        <div class="images">
            <div class="image1" [ngClass]="{'mostrarDesdeIzquierda': animado}" [ngStyle]="{'opacity': opacity}"
                (window:scroll)="onScroll()">
            </div>
            <div class="image2" [ngClass]="{'mostrarDesdeAbajo': animado}" (window:scroll)="onScroll()"
                [ngStyle]="{'opacity': opacity}">
            </div>
            <div class="image3" [ngClass]="{'mostrarDesdeDerecha': animado}" (window:scroll)="onScroll()"
                [ngStyle]="{'opacity': opacity}">
            </div>
        </div>
    </div>
</div>