<div class="images-parent" #imagesParent>
    <div class="images ">
        <div class="one animate__animated" #animElements>
            <div class="image1" id="my-image1">
                <img class="anim" src="../../../assets/images/restaurante9.jpeg" alt="">
            </div>
            <a href="">DESAYUNOS</a>
        </div>
        <div class="two animate__animated" #animElements>
            <div class="image2 " id="my-image2">
                <img class="anim" src="../../../assets/images/imagen2.jpeg" alt="">
            </div>
            <a href="../../../assets/pdfs/vinos_carta.pdf" target="_blank">Vinos</a>
        </div>
        <div class="three animate__animated" #animElements>
            <div class="image3 " id="my-image3">
                <img class="anim" src="../../../assets/images/imagen3.jpeg" alt="">
            </div>
            <a routerLink="/carta">CARTA</a>
        </div>
    </div>
</div>