/* For devices up to 250px width */
@media only screen and (max-width: 250px) {}

/* For devices up to 480px width */
@media only screen and (max-width: 480px) {}

/* For devices up to 768px width */
@media only screen and (max-width: 768px) {

    .images-parent {
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: flex;
    }

    .images {
        width: 80vw;
        overflow: hidden;
        grid-template-areas:
            "one"
            "two"
            "three";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .one {
        grid-area: one;
    }

    .two {
        grid-area: two;
    }

    .three {
        grid-area: three;
    }
}

/* For specific device width and height */
@media only screen and (width: 820px) and (height: 1180px) {}

/* For specific device width and height */
@media only screen and (width: 768px) and (height: 1024px) {}