/* sets the height and background color of the wrapper */
.wrapper {
    height: 60vh;
    background-color: white;
}

/* sets the height of the images parent container to 100% */
.images-parent {
    height: 100%;

}

/* sets the grid display and spacing for the images */
.images {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

/* sets the background images for each image div */
.image1 {
    background-image: url(../../../assets/images/restaurante9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 58vh;
    margin-top: 2%;
}

.image2 {
    background-image: url(../../../assets/images/imagen2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 58vh;
    margin-top: 2%;

}

.image3 {
    background-image: url(../../../assets/images/imagen3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 58vh;
    margin-top: 2%;

}



/* sets animation rules for general entrance from different directions */
.mostrarDesdeAbajo {
    animation: mostrarDesdeAbajo 1s;
}

.mostrarDesdeDerecha {
    animation: mostrarDesdeDerecha 1s;
}

.mostrarDesdeIzquierda {
    animation: mostrarDesdeIzquierda 1s;
}

/* sets animation keys to specify the start and end transformations of the element */
@keyframes mostrarDesdeAbajo {
    0% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes mostrarDesdeDerecha {
    0% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes mostrarDesdeIzquierda {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0);
    }
}