.images-parent {
    height: 60vh;
    background-color: white;

}


.images {
    max-width: 1400px;
    min-width: 320px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "one two three";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.animate__animated {
    opacity: 0;
    transform: scale(0.9);
    transition: .5s ease-in-out all;
}

.animate__animated.visible {
    opacity: 1;
    transform: scale(1);
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.one,
.two,
.three {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-family: var(--primary-font);
    font-size: clamp(27px, 65%, 120px);
    overflow: hidden;

}

a {
    color: white;

    text-decoration: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.one a {
    left: 25%;
    border: 3px solid white;

}

.two a {
    left: 40%;

    border: 3px solid white;
}

.three a {
    left: 38%;
    border: 3px solid white;
}

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    max-width: 100%;
    transition: 1s;
}

img:hover {
    transform: scale(1.2);
}

.image1,
.image2,
.image3:hover {
    transform: scale(1.1);
}





@keyframes animation1 {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}