/* For devices up to 250px width */
@media only screen and (max-width: 250px) {}

/* For devices up to 480px width */
@media only screen and (max-width: 480px) {


    #my-image1,
    #my-image2,
    #my-image3 {
        background-size: contain;
        width: 80%;
        height: 80%;
        align-self: center;
    }
}

/* For devices up to 768px width */
@media only screen and (max-width: 768px) {

    .wrapper {
        height: 90vh;
    }

    .images {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        text-align: center;
    }

    #my-image1,
    #my-image2,
    #my-image3 {

        width: 90%;
        height: 100%;
        align-self: center;
    }

    .image1 {
        background-image: url(../../../assets/images/restaurante9-mobile.jpg);
        background-size: cover;
    }
}

/* For specific device width and height */
@media only screen and (width: 820px) and (height: 1180px) {}

/* For specific device width and height */
@media only screen and (width: 768px) and (height: 1024px) {}