.main {
    max-width: 1256px;
    height: 80vh;
    background-color: rgb(58, 58, 58);

}

.container {
    display: grid;
    grid-template:
        "links img horario" 400px "links direccion horario" 400px / 300px 300px 300px;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: clamp(15px, 70%, 90px);

}

.img {
    margin-top: 20%;
    grid-area: img;
}

.links {
    grid-area: links;
    margin-top: 50%;
    line-height: 220%;
    text-align: left;
    cursor: pointer;
}

.links ul li {
    list-style: none;
    cursor: pointer;
}

.links ul li:hover {
    color: #E19B3C;
    ;
}

.direccion {
    margin-top: -30%;
    grid-area: direccion;
    text-align: center;
}

.horario {
    margin-top: 50%;
    grid-area: horario;
    text-align: right;
    line-height: 100%;
    font-size: clamp();
}

img {
    width: 200px;
    height: 150px;
}

.container .direccion {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .main {
        height: 110vh;
    }

    .container {
        gap: 5px;
        grid-template:
            "img"
            "links"
            "direccion"
            "horario";
        justify-content: center;
        text-align: center;
        color: white;
    }

    .img {
        margin-top: 30%;
    }

    .direccion {
        margin-top: 10%;
        text-align: center;
    }

    .horario {
        margin-top: 5%;
        text-align: center;
    }

    .links {
        text-align: center;
    }

    img {
        width: 150px;
        height: 100px;
    }
}