.main {
    max-width: 1256px;
    height: 80vh;
    background-color: rgba(58, 58, 58, .9);

}

.container {
    display: grid;
    grid-template:
        "links img horario" 400px "links direccion horario" 400px / 300px 300px 300px;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    font-size: clamp(15px, 70%, 90px);
    transform: scale(0.9);
    transition: .5s ease-in-out all;
}

.container.visible {
    opacity: 1;
    transform: scale(1);
}

.img {
    margin-top: 20%;
    grid-area: img;
}

.links {
    grid-area: links;
    margin-top: 50%;
    line-height: 220%;
    cursor: pointer;

}

.links ul li {
    list-style: none;
    cursor: pointer;
    text-align: left;
}

.links ul li:hover {
    color: #E19B3C;

}

.links ul li svg {
    fill: white;
    margin-right: 40px;
}

.icons {
    display: flex;
}

.direccion {
    margin-top: -20%;
    grid-area: direccion;
    text-align: center;

}

.direccion p a {
    text-decoration: none;
    color: white;

}

.horario {
    margin-top: 50%;
    grid-area: horario;
    text-align: right;
    line-height: 100%;
    font-size: clamp();
}

img {
    width: 200px;
    height: 150px;
}

.container .direccion {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .main {
        height: 110vh;
    }

    .container {
        gap: 5px;
        grid-template:
            "img"
            "links"
            "direccion"
            "horario";
        color: white;
    }

    .direccion {
        margin-top: 5%;
        justify-content: center;
        text-align: center;
    }

    .horario {
        margin-top: 5%;
        justify-content: center;
        text-align: center;

    }

    .links {
        margin-top: 5%;
        justify-content: center;
        text-align: center;
        margin-right: 25px;

    }

    .links ul li {

        text-align: center;
    }

    .icons {
        justify-content: space-around;
        margin-left: 35px;

    }

    img {
        width: 150px;
        height: 100px;
    }

    .img {
        margin-top: 2%;
        justify-content: center;
    }
}