<div class="main">
    <div class="container" #animElements>
        <div class="img">
            <img src="../../../assets/images/logo-casaMary(3).png" alt="">
        </div>
        <div class="links">
            <ul>
                <li>Carta</li>
                <li>Reserva</li>
                <li>Legal</li>
                <li>Contacto</li>
                <li>Politica de privacidad</li>
                <li>info@restaurantecasamary.com</li>
            </ul>
        </div>
        <div class="direccion">
            <h3>
                ¿Dónde estamos?
            </h3>
            <p>ALICANTE</p>
            <p>+34 663454984</p>
            <p>Calle de Juan de Herrera, 15, 03004 </p>
        </div>
        <div class="horario">
            <h3>
                Horario
            </h3>
            <p>Lunes a Viernes</p>
            <p>8:00h a 23:00h</p>
            <p>Viernes y Sabado</p>
            <p>8:00h a 24:00h</p>
            <p>Domingo</p>
            <p>13:00h a 17:00h</p>
        </div>
    </div>
</div>