<div class="container-fluid aboutUs">
    <div class="row content">
        <div class="col-md-6 col-sm-12 rightDiv">
            <div class="rightImage text-center" [ngStyle]="{ 'margin-top.px': finalPosition, 'transition': '1s' }"
                (window:scroll)="onScroll()">
                <img src="../../../assets/images/dueños.png" alt="" class="img-fluid">
            </div>
            <div class="rightText">
                <p>
                    Bienvenido a Casa Mary, un restaurante familiar regentado por dos cuñados con visión emprendedora,
                    Pedro y Mª José. Con más de 20 años de experiencia culinaria, decidieron unir fuerzas para ofrecer
                    lo mejor de la cocina alicantina al servicio del ciudadano alicantino. En nuestro menú encontrarás
                    una amplia variedad de platos tradicionales de la cocina alicantina,
                    desde deliciosos arroces hasta pescados y mariscos frescos, carnes y ensaladas. Nuestro objetivo es
                    satisfacer los gustos de toda la familia, por lo que nuestro menú está diseñado para ofrecer algo
                    para todos.

                    Nos esforzamos por ofrecer una experiencia gastronómica memorable a todos nuestros clientes, y
                    nuestro compromiso con la hospitalidad es nuestra prioridad número uno. Queremos compartir nuestra
                    pasión por la buena comida y la hospitalidad contigo y tu familia.

                    Ven a visitarnos en Casa Mary y disfruta de una comida deliciosa en un ambiente acogedor y familiar.
                    ¡Te esperamos con los brazos abiertos!
                </p>
            </div>
        </div>
        <div class="leftDiv col-6">
            <div class="leftImage">
                <img src="../../../assets/images/foto-cuchara-SOLO.png" alt="">
            </div>
            <div [ngClass]="{'oculto': oculto}" (window:scroll)="onScrollButton()">
                <h1 class="text-uppercase text-center">
                    <p class="text-black sobre">SOBRE</p>
                    <p class="text-warning text-right nosotros">NOSOTROS</p>
                </h1>
            </div>
            <div class="btn-leerMas" [ngClass]="{'oculto': oculto}" (window:scroll)="onScrollButton()">
                <button class="btn btn-primary">Reservar</button>
            </div>
        </div>

    </div>
</div>