.aboutUs {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: black;
    top: 100%;
}


.content {

    margin-bottom: 5%;
    display: flex;
}

.imgAndTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.imgAndTxt h2 {
    font-size: 40px;
    text-decoration: underline;
    font-family: Special Elite, cursive;
}


.image {
    width: 50%;


}

.image img {
    width: 60%;
    height: 50%;
    shape-outside: url('../../../assets/images/restaurante12.png');
    shape-image-threshold: 0.5;
    shape-margin: 20px;
    float: left;
}

.image p {
    text-align: justify;
    float: right;
    font-size: 18px;
    font-family: aboreto, cursive;
}



.soloImage {
    width: 40%;
    display: flex;
    align-items: center;
}

.rightImage {
    width: 100%;
    height: 90%;
    background-image: url('../../../assets/images/restaurante1.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        margin-left: 0;
    }

    .imgAndTxt {
        width: 100%;
    }

    .image {
        width: 70%;
        height: 60%;
    }

    .soloImage {
        width: 100%;
    }

    .rightImage {
        width: 100%;
        height: 50%;
    }
}