<div class="aboutUs">
    <div class="content">
        <div class="imgAndTxt">



            <div class="btn-leerMas">
                <button class='lined thick'>Leer más</button>
            </div>




        </div>
        <div class="soloImage">
            <div class="rightImage"></div>
            <div class="rightText">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat sunt illo quod, vero libero harum
                    necessitatibus ea sequi fugiat accusamus.
                </p>

            </div>
        </div>
    </div>
</div>