<div class="aboutUs">
    <div class="content">
        <div class="imgAndTxt">
            <div class="perspective">
                <img src="../../../assets/images/foto-cuchara-SOLO.png" alt="">
            </div>
            <div class="text">
                <p class="sobre">Sobre</p>
                <p class="nosotros">Nosotros</p>
            </div>

            <div class="btn-leerMas">
                <button class='lined thick'>Reservar</button>
            </div>
        </div>
        <div class="soloImage">
            <div class="rightImage">
                <img src="../../../assets/images/dueños.png" alt="">
            </div>
            <div class="rightText">
                <p>
                    Bienvenido a Casa Mary, un restaurante familiar regentado por dos cuñados con visión emprendedora,
                    Pedro y Mª José. Con más de 20 años de experiencia culinaria, decidieron unir fuerzas para ofrecer
                    lo mejor de la cocina alicantina al servicio del ciudadano alicantino.

                    En nuestro menú encontrarás una amplia variedad de platos tradicionales de la cocina alicantina,
                    desde deliciosos arroces hasta pescados y mariscos frescos, carnes y ensaladas. Nuestro objetivo es
                    satisfacer los gustos de toda la familia, por lo que nuestro menú está diseñado para ofrecer algo
                    para todos.

                    Nos esforzamos por ofrecer una experiencia gastronómica memorable a todos nuestros clientes, y
                    nuestro compromiso con la hospitalidad es nuestra prioridad número uno. Queremos compartir nuestra
                    pasión por la buena comida y la hospitalidad contigo y tu familia.

                    Ven a visitarnos en Casa Mary y disfruta de una comida deliciosa en un ambiente acogedor y familiar.
                    ¡Te esperamos con los brazos abiertos!
                </p>

            </div>
        </div>
    </div>
</div>