.aboutUs {
    display: flex;
    position: absolute;
    width: 100%;
    height: 105vh;
    color: black;
    top: 100%;
    background: linear-gradient(60deg, var(--secondary-color) 10%, #806454);
}

.content {
    margin-bottom: 5%;
    display: flex;
}



.imgAndTxt {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.imgAndTxt h2 {
    margin-bottom: 5%;
    font-size: 40px;
    font-family: Special Elite, cursive;
}


.image {
    width: 50%;
}

.image img {
    margin-top: 16%;
    width: 60%;
    height: 50%;
    shape-outside: url('../../../assets/images/restaurante12.png');
    shape-image-threshold: 0.8;
    shape-margin: 10px;
    float: left;
}

.image p {
    font-size: 0.85rem;
    margin-left: 3%;
    font-family: Bodoni Moda, serif;
}

.btn-leerMas {
    margin-top: 2rem;
}



button {
    cursor: pointer;
    background: transparent;
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    transition: all .5s ease;
    color: rgba(210, 193, 159, 255);
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 15px 30px 28px -22px rgba(210, 193, 159, 255);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}



.lined.thick {
    color: #000;
    border: solid 3px black;
}

button:hover {
    background: var(--secondary-color);
    color: #E19B3C;
}

.lined.thick:hover {
    border: solid 3px #E19B3C;
    color: #E19B3C;
}

.soloImage {
    width: 40%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightImage {
    margin-top: 35%;
    margin-bottom: 5%;
    width: 40%;
    height: 50%;
    background-image: url('../../../assets/images/restaurante6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.rightText {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .content {
        flex-direction: column;
    }

    .imgAndTxt,
    .soloImage {
        width: 100%;
    }


    .image p {
        font-size: 0.75rem;
        margin-left: 3%;
        font-family: aboreto, cursive;
    }

    .rightImage {
        display: none;
    }
}