.content {
    min-height: 70vh;
    background-color: rgba(39, 43, 47, 0.9);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;


}

.content img {
    max-width: 50%;
    max-height: auto;
}

.leftDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}

.text-center {
    font-size: clamp(30px, 70%, 120px);
}

.sobre {
    color: white;
    margin-left: -12.5%;
}

.nosotros {
    margin-top: -5%;
    margin-left: 12.5%;
}

.rightDiv {
    color: white;
    width: 100%;
}

.rightImage {
    margin-top: 3%;
}

.rightText {
    margin: 0 auto;
    width: 80%;
    margin-top: 5%;
    font-size: clamp(8px, 70%, 90px);
    text-align: center;
}

a {
    z-index: 1;
}

button {
    cursor: pointer;
    background: transparent;
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    transition: all .5s ease;
    color: rgba(210, 193, 159, 255);
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 15px 30px 28px -22px rgba(210, 193, 159, 255);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    z-index: 1;
}



.lined.thick {
    color: #000;
    border: solid 3px black;
}

button:hover {
    background: var(--secondary-color);
    color: #E19B3C;
}

.lined.thick:hover {
    border: solid 3px #E19B3C;
    color: #E19B3C;
}

.oculto {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}