@media only screen and (max-width: 250px) {}

@media only screen and (max-width: 480px) {}


@media only screen and (max-width: 767px) {
    .about-Us {
        flex-direction: column;
    }

    .leftDiv {
        width: 100%;
    }

    .leftImage {
        display: none;
    }

    .text-uppercase {

        margin-top: 0;
    }

    .btn-leerMas {
        margin-top: 0;
    }

}

@media only screen and (width: 820px) and (height: 1180px) {
    .about-Us {
        height: 10vh;
    }
}

@media only screen and (width: 768px) and (height: 1024px) {}