<video id="myVideo">
    <source src="../../../assets/videos/Pizza-Promo-Video.mp4" type="video/mp4">
</video>

<div class="content">
    <img src="../../../assets/images/logo-casaMary(3).png" alt="logo-casaMary">
    <div class="text">
        <h4>
            Descubre la auténtica riqueza de la gastronomía de la Terreta en nuestro restaurante. Degusta los arroces
            alicantinos, preparados con ingredientes frescos y auténticos. Ven y experimenta la verdadera esencia de
            Alicante en un ambiente acogedor y sofisticado. ¡Bienvenido a la verdadera gastronomía de la Terreta!
        </h4>
    </div>
    <div class="buttons">
        <button class="carta">CARTA</button>
        <button class="menú-diario">Menú Diario</button>
        <button class="reserva">RESERVA</button>
    </div>
</div>