.menu {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
}

.menu a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu a.active {
    color: var(--primary-color);
    font-weight: bolder;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    cursor: pointer;
}

img {
    height: 30%;
    width: 30%;
}



.entrantes {
    max-width: 100%;
    font-size: clamp(14px, 30%, 100px);

}

.titulo {
    width: 80%;

}


.entrantes h2 {
    font-style: var(--primary-font);
    color: var(--primary-color);
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}


.carta {
    width: 100%;
    display: flex;
    justify-content: center;
}

.platos {
    width: 80%;
    display: grid;
    grid-template-areas: "nombre precio";
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary-color);
    margin-top: 3%;
}

.nombre {
    grid-area: nombre;

}

.precio {
    grid-area: precio;
    text-align: right;
}