<div class="container">
    <main>
        <div class="menu">
            <a (click)="scrollToElement('entrantes')">Entrantes</a>
            <a (click)="scrollToElement('ensaladas')">Entrantes</a>

            <a (click)="scrollToElement('bocadillos')">Entrantes</a>
            <a (click)="scrollToElement('tapas')">TAPAS</a>
            <a (click)="scrollToElement('catalanas')">CATALANAS</a>
            <a (click)="scrollToElement('carnes')">CARNES</a>
            <a (click)="scrollToElement('pescados')">PESCADOS</a>
            <a (click)="scrollToElement('revueltos')">REVUELTOS </a>
            <a (click)="scrollToElement('sugerencias')">SUGERENCIAS</a>
            <a (click)="scrollToElement('sopas')">SOPAS</a>
            <a (click)="scrollToElement('combinados')">COMBINADOS</a>
        </div>

        <section class="entrantes" id="entrantes">
            <h2>ENTRANTES</h2>


        </section>

        <section class="ensaladas" id="ensaladas">
            <h2>ENSALADAS</h2>


        </section>

        <section class="bocadillos" id="bocadillos">


        </section>

        <section class="tapas" id="tapas">


        </section>

        <section class="catalanas" id="catalanas">


        </section>

        <section class="carnes" id="carnes">


        </section>

        <section class="pescados" id="pescados">

        </section>

        <section class="revueltos" id="revueltos">

        </section>

        <section class="sugerencias" id="sugerencias">

        </section>


        <section class="sopas" id="sopas">

        </section>

        <section class="combinados" id="combinados">


        </section>


    </main>
</div>