<app-loader *ngIf="isLoading"></app-loader>

<div class="container" *ngIf="!isLoading">
    <div class="logo">
        <img src="../../../assets/images/logo-casaMary(1).png" alt="">
    </div>

    <main>
        <div class="menu">
            <a [ngClass]="{'active': active === 'ENTRANTES'}" (click)="clickVal('ENTRANTES')">ENTRANTES</a>
            <a [ngClass]="{'active': active === 'ENSALADAS'}" (click)="clickVal('ENSALADAS')">ENSALADAS</a>
            <a [ngClass]="{'active': active === 'BOCADILLOS'}" (click)="clickVal('BOCADILLOS')">BOCADILLOS</a>
            <a [ngClass]="{'active': active === 'TAPAS'}" (click)="clickVal('TAPAS')">TAPAS</a>
            <a [ngClass]="{'active': active === 'CATALANAS'}" (click)="clickVal('CATALANAS')">CATALANAS</a>
            <a [ngClass]="{'active': active === 'CARNES'}" (click)="clickVal('CARNES')">CARNES</a>
            <a [ngClass]="{'active': active === 'PESCADOS'}" (click)="clickVal('PESCADOS')">PESCADOS</a>
            <a [ngClass]="{'active': active === 'REVUELTOS'}" (click)="clickVal('REVUELTOS')">REVUELTOS</a>
            <a [ngClass]="{'active': active === 'SUGERENCIAS'}" (click)="clickVal('SUGERENCIAS')">SUGERENCIAS</a>
            <a [ngClass]="{'active': active === 'SOPAS'}" (click)="clickVal('SOPAS')">SOPAS</a>
            <a [ngClass]="{'active': active === 'COMBINADOS'}" (click)="clickVal('COMBINADOS')">COMBINADOS</a>
        </div>

        <section class="entrantes" id="entrantes">
            <h2>{{value}}</h2>
            <div *ngFor="let plato of platos[value]?.platos | keyvalue">
                <div class="nombre">
                    <p> {{plato.key}}</p>
                </div>
                <div class="precio">
                    <p> {{plato.value}}€</p>
                </div>
            </div>
        </section>
    </main>
</div>