@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,800;1,6..96,400;1,6..96,500;1,6..96,700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@import url("https://use.typekit.net/qvm0dpt.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #E19B3C;
    --secondary-color: #fff;
    --tertiary-color: #000;

    --primary-font: Bodoni Moda, serif;
    --secondary-font: Montserrat, sans-serif;

}