<head></head>
<div class="wrapper">
    <div class="wrapper-child">
        <div class="child" #reseña id="child">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio aut eos dicta praesentium in ad eius
                sunt
                voluptates ut ipsa non deserunt hic repellendus, perferendis adipisci nulla modi suscipit nam?
            </p>
            <div class="map" id="mapDiv"></div>
        </div>

    </div>

</div>
<script src="script.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>