.wrapper {
    height: 45vh;
    background-color: black;
}

.wrapper-child {
    display: flex;
    justify-content: center;
    text-align: center;

}

.child {
    width: 60vw;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: .5s ease-in-out all;
    font-family: var(--secondary-font);
    color: aliceblue
}

.child.visible {
    opacity: 1;
    transform: scale(1);
}

.child h2 {
    font-weight: bold;

}

.child hr {
    color: white;
    width: 100px;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        height: 50vh;
    }

    .child {
        width: 70vw;
        margin-top: 15%;
    }


}